html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    overflow: hidden;
}

.img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    -webkit-transform: translate3d(-50%, 0, 0);
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 20.43%;
    -webkit-transform: translate3d(-50%, 0, 0);
}
.bottom1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 22.43%;
    -webkit-transform: translate3d(-50%, 0, 0);
}

.bottom2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 8%;
    -webkit-transform: translate3d(-50%, 0, 0);
}

.page1, .page7, .page8 {
    background-color: #83e2e6;
}

.page2 {
    background-color: #e6b982;
}

.page3 {
    background-color: #58abbd;
}

.page4 {
    background-color: #83e7c5;
}

.page5 {
    background-color: #439aad;
}

.page6 {
    background-color: #e6b982;
}

.btns {
    position: absolute;
    top: 40.3%;
    left: 50%;
    height: 30px;
    -webkit-transform: translate3d(-50%, 0, 0);
    overflow: hidden;
}

.leftBtn, .middleBtn, .rightBtn {
    float: left;
    height: 30px;
}

.middle-content, .right-content {
    display: none;
}

/*加载页*/
.loadingBox {
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 100%;
    z-index: 29;
    overflow: hidden;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    z-index: 30;
}

.loading .point {
    background-position: 0 0;
}

.loading .circle {
    background-position: -50px 0;
    -webkit-animation: spin 1.1s linear infinite;
}

.loading div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/firstpage-loading-120115.png) no-repeat;
    background-size: 100px auto;
}

.loadingBox.done {
    -webkit-transition: 0.4s;
    opacity: 0;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.music-icon.play {
    -webkit-animation: spin 2.3s linear infinite;
}

.music-icon {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid rgba(130, 170, 118, 0.6);
    background: url(../img/firstpage-icon.png) no-repeat -30px -5px;
    background-size: 100px auto;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
    pointer-events: auto;
}

/*第一页动画*/
.page1-1 {
    opacity: 0;
}

.swiper-slide-active .page1-1 {
    opacity: 0;
    -webkit-animation: upOpacity 1.5s ease-in forwards;
}

.page1-2 {
    -webkit-animation: cloud-top 6s ease-out infinite;
}

/*第二页动画*/

.swiper-slide-active .page2-1 {
    opacity: 0;
    -webkit-animation: shake 1.2s ease-out forwards 1s;

}

.swiper-slide-active .page2-2 {
    opacity: 0;
    -webkit-animation: up-trans 1s ease-out forwards;

}

/*第三页动画*/
.swiper-slide-active .page3-2 {
    opacity: 0;
    -webkit-animation: up-top 0.5s ease-in forwards;
}

.swiper-slide-active .page3-3 {
    opacity: 0;
    -webkit-animation: up-top 0.5s ease-in forwards 0.5s;
}

.swiper-slide-active .page3-4 {
    opacity: 0;
    -webkit-animation: up-top 0.5s ease-in forwards 1s;
}

/*第四页动画*/
.swiper-slide-active .page4-1 {
    opacity: 0;
    -webkit-animation: up-trans 1s ease-out forwards;
}

.swiper-slide-active .page4-2 {
    opacity: 0;
    -webkit-animation: shake 1.2s ease-out forwards 1s;
}

.swiper-slide-active .page4-3 {
    opacity: 0;
    -webkit-animation: up-left 0.3s ease-in forwards 2s;
}

.swiper-slide-active .page4-4 {
    opacity: 0;
    -webkit-animation: up-right 0.3s ease-in forwards 2s;
}

.swiper-slide-active .page4-5 {
    opacity: 0;
    -webkit-animation: bottom-left 0.3s ease-in forwards 2s;
}

.swiper-slide-active .page4-6 {
    opacity: 0;
    -webkit-animation: bottom-right 0.3s ease-in forwards 2s;
}

/*第五页动画*/
.swiper-slide-active .page5-1 {
    opacity: 0;
    -webkit-animation: up-trans 1s ease-out forwards;
}

.swiper-slide-active .page5-2 {
    opacity: 0;
    -webkit-animation: shake 1.2s ease-out forwards 1s;
}

/*第六页动画*/
.swiper-slide-active .page6-1 {
    opacity: 0;
    -webkit-animation: up-trans 1s ease-out forwards 1s;
}

.swiper-slide-active .page6-2 {
    opacity: 0;
    -webkit-animation: shake 1.2s ease-out forwards;
}

/*第七页动画*/

.swiper-slide-active .page7-1 {
    opacity: 0;
    -webkit-animation: upOpacity 1.5s ease-in forwards 0.5s;
}

.swiper-slide-active .page7-2 {
    -webkit-animation: cloud-top 6s ease-out infinite;
}

/*第八页动画*/

.swiper-slide-active .page8-1 {
    opacity: 0;
    -webkit-animation: upOpacity 1.5s ease-in forwards 0.5s;
}

.swiper-slide-active .page8-2 {
    -webkit-animation: cloud-top 6s ease-out infinite;
}

@-webkit-keyframes cloud-top {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        -webkit-transform: translate3d(-200%, 0, 0);
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes upOpacity {
    0% {
        opacity: 0;
        top: 30%;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@-webkit-keyframes up-top {
    0% {
        opacity: 0;
        top: 60%;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@-webkit-keyframes up-trans {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 20%, 0);
    }
    20% {
        opacity: 1;

    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
    }
}

@-webkit-keyframes up-left {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, -20%, 0);
    }
    20% {
        opacity: 1;

    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
    }
}

@-webkit-keyframes bottom-left {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 20%, 0);
    }
    20% {
        opacity: 1;

    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
    }
}

@-webkit-keyframes up-right {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0%, -20%, 0);
    }
    20% {
        opacity: 1;

    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
    }
}

@-webkit-keyframes bottom-right {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0%, 20%, 0);
    }
    20% {
        opacity: 1;

    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
    }
}

@-webkit-keyframes shake {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(100%, 0, 0);
    }
    1% {
        opacity: 1;
        -webkit-transform: translate3d(100%, 0, 0);
    }
    12.5% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
    }
    25% {
        opacity: 1;
        -webkit-transform: translate3d(-47%, 0, 0);
    }
    37.5% {
        opacity: 1;
        -webkit-transform: translate3d(-53%, 0, 0);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate3d(-48%, 0, 0);
    }
    65.5% {
        opacity: 1;
        -webkit-transform: translate3d(-52%, 0, 0);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate3d(-49%, 0, 0);
    }
    87.5% {
        opacity: 1;
        -webkit-transform: translate3d(-51%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
    }
}
