* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Microsoft Yahei", "微软雅黑", "华文细黑", sans-serif;
    overflow-y: hidden;
}

.can-tap {
    cursor: pointer;
}

.absolute {
    position: absolute;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: auto;
}

.section {
    width: 100%;
    position: relative;
    background-color: #fffcf5;
}

.section .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
}

.page0-bg {
    background: url("img/page0-bg.jpg") center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 94.79166666%;
}

.page0-phone {
    position: absolute;
    bottom: 0;
    left: 51.8229166%;
    height: 88.80208%;
}

.page0-img-border {
    position: absolute;
    top: 22.3958333%;
    left: 59.89583333333%;
    height: 64.322916666%;
    width: 36.1979166%;
}

.page0-title {
    position: absolute;
    top: 21.09375%;
    left: 0;
    height: 10.67708333%;
}

.page0-word {
    position: absolute;
    top: 30.078125%;
    left: 0;
    height: 21.223958%;
}

.page0-qr {
    position: absolute;
    top: 56.770833333333%;
    left: 2.604166%;
    height: 20.3125%;
}

.page0-btn {
    position: absolute;
    top: 79.296875%;
    left: 2.604166%;
    height: 5.72916666666%;
}

.icon {
    background: url("img/icon.png");
    background-size: 600px 600px;
}

.top-logo {
    width: 46px;
    height: 45px;
    position: absolute;
    top: 15px;
    left: 88px;
    background-position: 0 0;
}

.home-page, .communite {
    width: 58px;
    height: 24px;
    position: absolute;
    top: 24px;
}

.home-page {
    right: 166px;
    background-position: 0 -50px;
}

.communite {
    right: 88px;
    background-position: 0 -80px;
}

.scroll-wrapper {
    width: 100%;
    position: absolute;
    /*transform: translate3d(0, -4243px, 0);*/
}

.page1-title {
    top: 36.328125%;
    right: 66.796875%;
    height: 5.3385416%;
}

.page1-word {
    top: 44.66145%;
    right: 66.796875%;
    height: 25.6510416%;
}

.yellow-phone {
    top: 50%;
    left: 42.96875%;
    height: 82.291666%;
}

.page1-dash {
    top: 11.58854%;
    left: 75.911458%;
    height: 76.692708%;
}

.page1-0 {
    top: 21.354166%;
    left: 85.9375%;
    height: 3.2552083%;
}

.page1-1 {
    top: 28.38542%;
    left: 85.41667%;
    height: 3.125%;
}

.page1-2 {
    top: 35.67708%;
    left: 84.24479%;
    height: 3.125%;
}

.page1-3 {
    top: 42.31771%;
    left: 85.28646%;
    height: 4.29688%;
}

.page1-4 {
    top: 49.08854%;
    left: 86.58854%;
    height: 4.42708%;
}

.page1-5 {
    top: 57.03125%;
    left: 88.02083%;
    height: 4.81771%;
}

.page1-6 {
    top: 67.05729%;
    left: 88.15104%;
    height: 5.72917%;
}

.page1-7 {
    top: 76.04167%;
    left: 85.9375%;
    height: 3.125%;
}

.page2-title {
    top: 38.02083%;
    left: 13.15104%;
    height: 5.07813%;
}

.page2-word {
    top: 45.96354%;
    left: 7.94271%;
    height: 16.40625%;
}

.page3-title {
    top: 36.19792%;
    left: 12.50000%;
    height: 11.45833%;
}

.page3-word {
    top: 50.78125%;
    left: 1.43229%;
    height: 11.71875%;
}

.page4-title {
    top: 41.66667%;
    left: 13.15104%;
    height: 5.46875%;
}

.page4-word {
    top: 50.52083%;
    left: 2.08333%;
    height: 6.90104%;
}

.page5-title {
    top: 42.83854%;
    right: 66.92708%;
    height: 5.20833%;
}

.page5-word {
    top: 51.43229%;
    right: 66.79688%;
    height: 7.03125%;
}

.footer {
    height: 168px;
    background: url("img/bottom-bg.jpg") center center;
    background-size: cover;
    position: relative;
}

.footer-logo {
    height: 45px;
    position: absolute;
    left: 88px;
    top: 26px;
}

.gongzhonghao-qr {
    height: 110px;
    position: absolute;
    right: 88px;
    top: 0;
}

.copyright {
    font-size: 12px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    top: 88px;
    color: #fff;
}

.footer-link {
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    top: 38px;
}

.footer-link div {
    display: inline-block;
    width: 100px;
}

.footer-link div a {
    color: #fff;
    text-decoration: none;
}

.footer-link .a, .footer-link .b, .footer-link .c {
    height: 100%;
    border-right: 1px solid white;
    text-align: center;
}