html, body, div, img, span, input, textarea {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    font-family: "Microsoft Yahei", "微软雅黑", "华文细黑", sans-serif;
}

html, body, .content, .bg, .loading-page {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.hide {
    display: none !important;
}

.loading-page {
    z-index: 100;
    background-color: white;
}

.loading-tips {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #a1a1a1;
    font-size: 21px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
}

.page {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.absolute {
    position: absolute;
}

.page0-bg {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.page0-logo {
    height: 5.15625%;
    top: 12px;
    left: 12px;
}

.page-temp-logo {
    height: 5.15625%;
    top: 12px;
    left: 12px;
}

.show .page0-logo {
    animation: 0.5s shade-in 1.8s ease-in-out both;
    -webkit-animation: 0.5s shade-in 1.8s ease-in-out both;
}

.page0-btn {
    height: 4.583%;
    top: 14px;
    right: 12px;
}

.page-temp-btn {
    height: 4.583%;
    top: 14px;
    right: 12px;
}

.show .page0-btn {
    animation: 0.5s shade-in 1.8s ease-in-out both;
    -webkit-animation: 0.5s shade-in 1.8s ease-in-out both;
}

.page0-title {
    left: 50%;
    top: 18.59375%;
    height: 4.37500%;
    transform: translate3d(-50%, 0, 0);
}

.show .page0-title {
    animation: 0.6s from-up 0.8s cubic-bezier(.44, 0, .87, .8) both;
    -webkit-animation: 0.6s from-up 0.8s cubic-bezier(.44, 0, .87, .8) both;
}

.page0-word-border {
    top: 25.93750%;
    height: 5.93750%;
    width: 100%;
}

.page0-word.none {
    -webkit-filter: blur(5px);
    opacity: 0;
    transition: 0.3s ease-in;
}

.page0-word {
    height: 100%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
}

.show .page0-word-border {
    animation: 0.6s shade-in 1.5s ease-in-out both;
    -webkit-animation: 0.6s shade-in 1.5s ease-in-out both;
}

.page0-phone {
    width: 100%;
    bottom: 0;
    height: 59.53125%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page0-phone img {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

.show .page0-phone {
    animation: 1.2s from-bottom-nc 0.8s cubic-bezier(.19, .45, .46, 1.01) both;
    -webkit-animation: 1.2s from-bottom-nc 0.8s cubic-bezier(.19,.45,.46,1.01) both;
}

.page1-5-title {
    left: 50%;
    top: 14.84375%;
    height: 5.00000%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
}

.show .page1-5-title {
    animation: 0.6s from-up 0.8s ease-in-out both;
    -webkit-animation: 0.6s from-up 0.8s ease-in-out both;
}

.page1-5-word-border {
    position: absolute;
    height: 6.30208%;
    top: 22.70833%;
    width: 100%;
}

.page1-5-word-border img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    height: 100%;
    transition: 0.3s ease-in;
}

.page1-5-word-border img.none {
    -webkit-filter: blur(5px);
    opacity: 0;
    transition: 0.3s ease-in;
}

.page2-content-border {
    top: 22.70833%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    -webkit-filter: blur(0px);
    transition: -webkit-filter, opacity 0.3s ease-in;
}

.page2-content-border.none {
    -webkit-filter: blur(5px);
    opacity: 0;
    transition: 0.3s ease-in;
}

.page-2 .page2-word {
    top: 0;
    height: 7.87348%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
}

.page-2 .page-phone {
    width: 100%;
    height: 83.78196%;
    bottom: 0;
    left: 50%;
    top: auto;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
}

.show .page2-arrow {
    height: 20%;
    bottom: 1%;
    transform: rotate3d(0, 0, 1, -90deg);
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    right: 50%;
    animation: 0.4s scale-r-2 2s ease-in-out both;
    -webkit-animation: 0.4s scale-r-2 2s ease-in-out both;
}

.show .page2-cat {
    height: 30%;
    bottom: -2%;
    left: 45%;
    animation: 0.4s scale 2s ease-in-out both;
    -webkit-animation: 0.4s scale 2s ease-in-out both;
}

.show .page2-girl {
    transform: rotate3d(0, 0, 1, 180deg);
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    height: 17%;
    top: 13.5%;
    left: 50%;
    animation: 0.4s scale-r 2.2s ease-in-out both;
    -webkit-animation: 0.4s scale-r 2.2s ease-in-out both;
}

.page3-play-btn {
    height: 50px;
    width: 50px;
    left: 50%;
    top: 67.5%;
    background: url("image/page3-play-btn.png") center center;
    background-size: 50px 50px;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
}

.show .page3-play-btn {
    animation: 2s flip 2.2s ease-in-out both infinite;
    -webkit-animation: 2s flip 2.2s ease-in-out both infinite;
}

.page-3-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.page-3-border iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 35px;
    border: 0;
    background-color: black;
}

.page3-close-iframe {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    text-align: center;
    bottom: 0;
    background-color: black;
    color: #fff;
}

.page1-5-word {
    left: 50%;
    top: 22.70833%;
    height: 6.30208%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
}

.show .page1-5-word-border {
    animation: 0.6s shade-in 1.5s cubic-bezier(.44, 0, .87, .8) both;
    -webkit-animation: 0.6s shade-in 1.5s cubic-bezier(.44, 0, .87, .8) both;
}

.show .page1-5-word {
    animation: 0.6s shade-in 1.5s cubic-bezier(.44, 0, .87, .8) both;
    -webkit-animation: 0.6s shade-in 1.5s cubic-bezier(.44, 0, .87, .8) both;
}

.page1-4-phone {
    top: 35.26042%;
    height: 65.00000%;
    width: 100%;
}

.show .page1-4-phone {
    animation: 1.2s from-bottom-nc 0.8s ease-in-out both;
    -webkit-animation: 1.2s from-bottom-nc 0.8s ease-in-out both;
}

.show.page-2 .page1-4-phone {
    animation: 1.2s from-bottom 0.8s ease-in-out both;
    -webkit-animation: 1.2s from-bottom 0.8s ease-in-out both;
}

.page-4-content-border {
    bottom: 0;
    top: 44.24375%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    overflow: hidden;
}

.show .page-4-content-border {
    animation: 1.2s from-bottom 0.8s ease-in-out both;
    -webkit-animation: 1.2s from-bottom 0.8s ease-in-out both;
}

.page4-content-wrapper {
    width: 500%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.page4-item img {
    height: 100%;
}

.page4-item {
    top: 0;
    height: 100%;
    overflow: hidden;
    background-color: white;
    width: 20%;
}

.page4-item.item-1 {
    left: 0;
}

.page4-item.item-2 {
    left: 20%;
}

.page4-item.item-3 {
    left: 40%;
}

.page4-item.item-4 {
    left: 60%;
}

.page4-item.item-5 {
    left: 80%;
}

.page5-left-img {
    left: 50%;
    bottom: 0;
    height: 66.51042%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
}

.show .page5-left-img {
    animation: 1.2s from-bottom 0.8s ease-in-out both;
    -webkit-animation: 1.2s from-bottom 0.8s ease-in-out both;
}

.page5-right-img {
    left: 50%;
    bottom: 0;
    height: 61.82292%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
}

.show .page5-right-img {
    animation: 1.2s from-bottom 1.2s ease-in-out both;
    -webkit-animation: 1.2s from-bottom 1.2s ease-in-out both;
}

.page6-logo {
    left: 50%;
    top: 21.19792%;
    height: 7.18750%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
}

.show .page6-logo {
    animation: 1.2s from-up 0.8s ease-in-out both;
    -webkit-animation: 1.2s from-up 0.8s ease-in-out both;
}

.download-btn {
    /*background-color: green;*/
    left: 50%;
    top: 40.88542%;
    height: 41px;
    width: 113px;
    background: url("image/download-btn.png") center center;
    background-size: 113px 41px;
    /*height: 8.54167%;*/
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
}

.show .download-btn {
    animation: 1.2s from-up 1.4s ease-in-out both;
    -webkit-animation: 1.2s from-up 1.4s ease-in-out both;
}

.page6-word {
    left: 50%;
    top: 94.16667%;
    height: 1.97917%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
}

.show .page6-word {
    animation: 1.2s shade-in 2s ease-in-out both;
    -webkit-animation: 1.2s shade-in 2s ease-in-out both;
}

.page6-bg {
    background: url("image/page6-bg.jpg") center center;
    background-size: cover;
}

.indicator {
    width: 12px;
    position: absolute;
    right: 12px;
    z-index: 10;
    top: 25%;
}

.indicator .circle {
    margin-top: 14px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    border: 1px solid #cbcbcb;
    background-color: transparent;
}

.indicator .circle.select {
    background-color: #cbcbcb;
}

@-webkit-keyframes slide-up {
    100% {
        -webkit-transform: translate3d(0, -100%, 0);
    }
}

@keyframes slide-up {
    100% {
        transform: translate3d(0, -100%, 0);
    }
}

@-webkit-keyframes slide-down {
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
    }
}

@keyframes slide-down {
    100% {
        transform: translate3d(0, 100%, 0);
    }
}

@-webkit-keyframes from-up-nc {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0, 0%, 0);
        opacity: 1;
    }
}

@keyframes from-up-nc {
    0% {
        transform: translate3d(0, -100%, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0%, 0);
        opacity: 1;
    }
}

@-webkit-keyframes from-down-nc {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0, 0%, 0);
        opacity: 1;
    }
}

@keyframes from-down-nc {
    0% {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0%, 0);
        opacity: 1;
    }
}

@-webkit-keyframes from-up {
    0% {
        -webkit-transform: translate3d(-50%, -100%, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(-50%, 0%, 0);
        opacity: 1;
    }
}

@keyframes from-up {
    0% {
        transform: translate3d(-50%, -100%, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(-50%, 0%, 0);
        opacity: 1;
    }
}

@-webkit-keyframes down-shade-out {
    100% {
        -webkit-transform: translate3d(-50%, 100%, 0);
        opacity: 0;
    }
}

@keyframes down-shade-out {
    100% {
        transform: translate3d(-50%, 100%, 0);
        opacity: 0;
    }
}

@-webkit-keyframes from-bottom {
    0% {
        -webkit-transform: translate3d(-50%, 100%, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(-50%, 0%, 0);
        opacity: 1;
    }
}

@keyframes from-bottom {
    0% {
        transform: translate3d(-50%, 100%, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(-50%, 0%, 0);
        opacity: 1;
    }
}

@-webkit-keyframes from-bottom-nc {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0, 0%, 0);
        opacity: 1;
    }
}

@keyframes from-bottom-nc {
    0% {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0%, 0);
        opacity: 1;
    }
}

@-webkit-keyframes shade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blur-out {
    0% {
        -webkit-filter: blur(0);
        opacity: 1;
    }
    100% {
        -webkit-filter: blur(10px);
        opacity: 0;
    }
}

@keyframes blur-out {
    0% {
        filter: blur(0);
        opacity: 1;
    }
    100% {
        filter: blur(10px);
        opacity: 0;
    }
}

@-webkit-keyframes flip {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes flip {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes scale {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.5, 0.5, 0.5);
    }
    70% {
        opacity: 1;
        -webkit-transform: scale3d(1.4, 1.4, 1.4);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
    }
}

@keyframes scale {
    0% {
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5);
    }
    70% {
        opacity: 1;
        transform: scale3d(1.4, 1.4, 1.4);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes scale-r-2 {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, -90deg);
    }
    70% {
        opacity: 1;
        -webkit-transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -90deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -90deg);
    }
}

@keyframes scale-r-2 {
    0% {
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, -90deg);
    }
    70% {
        opacity: 1;
        transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -90deg);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -90deg);
    }
}

@-webkit-keyframes scale-r {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 180deg);
    }
    70% {
        opacity: 1;
        -webkit-transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 180deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 180deg);
    }
}

@keyframes scale-r {
    0% {
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 180deg);
    }
    70% {
        opacity: 1;
        transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 180deg);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 180deg);
    }
}

.w-logo, .w.btn {
    z-index: 5;
}

.log {
    /*height: 30px;*/
    line-height: 30px;
    color: #fff;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.page img {
    pointer-events: none;
}

.page img.page0-btn {
    pointer-events: auto;
}

.white-phone {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

.page-1-4-content {
    position: absolute;
    bottom: 0;
    height: 85.197%;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}
