html, body, div, img, span, input, textarea {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    font-family: "Microsoft Yahei", "微软雅黑", "华文细黑", sans-serif;
}

html, body, .content, .bg, .loading-page {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.hide {
    display: none !important;
}

.loading-page {
    z-index: 100;
    background-color: white;
}

.loading-tips {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #a1a1a1;
    font-size: 21px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
}

.page {
    position: absolute;
    width: 100%;
}

.absolute {
    position: absolute;
}

.page0-bg {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.page0-logo {
    height: 5.15625%;
    top: 12px;
    left: 12px;
}

.page0-btn {
    height: 4.583%;
    top: 14px;
    right: 12px;
}

.page0-title {
    left: 50%;
    top: 18.59375%;
    height: 4.37500%;
    transform: translate3d(-50%, 0, 0);
}

.page0-word {
    left: 50%;
    top: 25.93750%;
    height: 5.93750%;
    transform: translate3d(-50%, 0, 0);
}

.page0-phone {
    left: 50%;
    top: 40.41667%;
    height: 59.53125%;
    transform: translate3d(-50%, 0, 0);
}

.page1-5-title {
    left: 50%;
    top: 14.84375%;
    height: 5.00000%;
    transform: translate3d(-50%, 0, 0);
}

.page1-5-word {
    left: 50%;
    top: 22.70833%;
    height: 6.30208%;
    transform: translate3d(-50%, 0, 0);
}

.page1-6-phone {
    left: 50%;
    top: 35.26042%;
    height: 65.00000%;
    transform: translate3d(-50%, 0, 0);
}

.page5-left-img {
    left: 50%;
    bottom: 0;
    height: 66.51042%;
    transform: translate3d(-50%, 0, 0);
}

.page5-right-img {
    left: 50%;
    bottom: 0;
    height: 61.82292%;
    transform: translate3d(-50%, 0, 0);
}

.page6-logo {
    left: 50%;
    top: 21.19792%;
    height: 7.18750%;
    transform: translate3d(-50%, 0, 0);
}

.download-btn {
    left: 50%;
    top: 40.88542%;
    height: 8.54167%;
    transform: translate3d(-50%, 0, 0);
}

.page6-word {
    left: 50%;
    top: 94.16667%;
    height: 1.97917%;
    transform: translate3d(-50%, 0, 0);
}

.page6-bg {
    background: url("image/page6-bg.jpg") center center;
    background-size: cover;
}

@keyframes slide-up {
    100% {
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes slide-down {
    100% {
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes from-up {
    0% {
        transform: translate3d(-50%, -100%, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate3d(-50%, 0%, 0);
        opacity: 1;
    }
}

@keyframes from-bottom {
    0% {
        transform: translate3d(-50%, 100%, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate3d(-50%, 0%, 0);
        opacity: 1;
    }
}