body {
    margin: 0;
    background: #f4f3f8;
}

.top {
    width: 100%;
    display: block;
}

.title {
    height: 18px;
}

.my-maodou-border {
    height: 149px;
    position: relative;
}

.my-maodou {
    position: absolute;
    top: 13px;
    left: 15px;
    height: 13px;
}

.title-details {
    position: absolute;
    top: 3px;
    right: 5px;
    height: 11px;
    margin: 10px;
}

.dou-img {
    height: 95px;
    position: absolute;
    left: 50%;
    margin-left: -47px;
    top: 17px;
}

.my-maodou-word {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10px;
    color: #666666;
    font-size: 11px;
    text-align: center;
    vertical-align: bottom;
}

.my-maodou-word span {
    font-size: 20px;
    color: #fe2454;
    font-weight: bold;
}

.priviledge-border {
    position: relative;
    padding-bottom: 20px;
}

.title-priviledge {
    position: absolute;
    left: 15px;
    top: 13px;
}

.priviledge-border .content {
    padding: 38px 15px 7px 15px;
}

.priviledge-border .content:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.more-priviledge-border {
    height: 10px;
    text-align: center;
}

.title-more-priviledge {
    height: 100%;
}








