body {
    margin: 0;
    background: #f4f3f8;
    font-family: "Microsoft YaHei", sans-serif;
}

.top {
    width: 100%;
    display: block;
}

.title {
    height: 18px;
}

.my-maodou-border {
    height: 149px;
    position: relative;
}

.my-maodou {
    position: absolute;
    top: 13px;
    left: 15px;
    height: 13px;
}

.title-details {
    position: absolute;
    top: 3px;
    right: 5px;
    height: 11px;
    margin: 10px;
}

.dou-img {
    height: 95px;
    position: absolute;
    left: 50%;
    margin-left: -47px;
    top: 17px;
}

.my-maodou-word {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10px;
    color: #666666;
    font-size: 11px;
    text-align: center;
    vertical-align: bottom;
}

.my-maodou-word span {
    font-size: 20px;
    color: #fe2454;
    font-weight: bold;
}

.priviledge-border {
    position: relative;
    padding-bottom: 20px;
}

.title-priviledge {
    position: absolute;
    left: 15px;
    top: 13px;
}

.priviledge-border .content {
    padding: 38px 15px 7px 15px;
}

.priviledge-border .content:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.more-priviledge-border {
    height: 10px;
    position: relative;
}

.title-more-priviledge {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    height: 100%;
}

.do-test-border {
    position: relative;
    padding-bottom: 11px;
}

.title-dotest {
    margin: 13px 0 0 15px;
}

.do-test-border .test-title {
    color: #666666;
    font-size: 10px;
    margin-left: 15px;
}

.test-wrapper img {
    position: absolute;
    top: 4px;
    left: 4px;
}

.test-wrapper .button {
    width: 102px;
    height: 31px;
    color: #fff;
    font-size: 14px;
    line-height: 31px;
    text-align: center;
    border-radius: 15px;
    background-color: #fe2454;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 15px;
}

.test-wrapper .button.over {
    background: #dbdade;
}

