.sign-up-form-slide-page {
    background: rgba(255, 255, 255, 0.96);
}

.sign-up-form-slide-page .page-content {
    padding: 0 25px;
}

.sign-up-form-slide-page .page-content:before {
    display: block;
    content: "请您填写报名表单，谢谢您的参与！";
    color: #99a2a7;
    font-size: 12px;
    line-height: 12px;
    margin-top: 27px;
}

.sign-up-form-slide-page .back {
    position: absolute;
    height: 18px;
    width: 18px;
    right: 7px;
    top: 7px;
}

.sign-up-form-slide-page .back:before {
    position: absolute;
    content: "";
    display: block;
    left: -23px;
    right: -7px;
    top: -7px;
    bottom: -23px;
}

.sign-up-form-slide-page .back:after {
    width: 18px;
    height: 18px;
}

.sign-up-form-slide-page label {
    position: relative;
    margin: 13px 0;
    display: block;
}

.sign-up-form-slide-page label:first-child {
    margin-top: 21px;
}

.sign-up-form-slide-page label:last-child {
    margin-top: 21px;
}

.sign-up-form-slide-page .caption {
    font-size: 15px;
    line-height: 15px;
    color: #4f5356;
}

.sign-up-form-slide-page input {
    height: 39px;
    margin-top: 6px;
    font-size: 15px;
    line-height: 37px;
    width: 100%;
    border: 1px solid #4f5356;
    padding: 0 9px;
    box-sizing: border-box;
    background: transparent;
}

.sign-up-form-slide-page input.error {
    border: 1px solid #FC7A89;
}

.sign-up-form-slide-page .required {
    position: relative;
    display: inline-block;
    width: 5px;
    height: 5px;
    vertical-align: top;
}

.sign-up-form-slide-page .required:after {
    background-position: -20px -20px;
    width: 100%;
    height: 100%;
}

.sign-up-form-slide-page .button {
    width: 115px;
    height: 38px;
    line-height: 38px;
    font-size: 15px;
    margin: 0 auto;
    background: #FA6143;
    color: white;
    text-align: center;
    border-radius: 3px;
}